# CURSO PRÁCTICO DE SQL

SQL es el lenguaje por exelencia para el manejo de datos estructurados. Incrementa tus habilidades  en él con ejercicios de álgebra relacional, subconsultas y window functions. Aprende a hacer consultas más eficientes y complejas con este lenguaje.

* Entender Queries Dostribuidos
* Utilizar expresiones regulares en SQL
* Reforzar conceptos de álgebra relacional
* Manejar window Functions

In [2]:
# Ruta del forlder
#cd '/mnt/c/Users/jho_c/Mis documentos/DataScience/Data Analyst'

## INTRODUCCIÓN A SQL

### Breve historia de SQL (Structured Query Languague - Lenguaje de Consulta Estructurada)
**Bases** : Teoría de conjuntos y álgebra relacional de Codd

**IBM** : Fue creada en los años 70. Originalmente llamada SEQUEL
* System/38 (1979)
* SQL/DS(1981)
* DB2 (1983)
**Relational Company** Creó el software Oracle V2 en 1979
**ANSI/ISO** 1989, 1992, 1996, 1999, 2003, 2006, 2008, 2011 and 2016

### Álgebra Relacional
Este estudia basicamente las operaciones que se pueden realizar entre diversos conjuntos de datos.

No confundir las relaciones del álgebra relacional con las relaciones de una base de datos relacional.
* Las relaciones de una base de datos es cuando une dos tablas.
* Las relaciones en álgebra relacional se refiere a una tabla.
- La diferencia es conceptual: las tablas pueden tener tuplas repetidas pero en el álgebra relacional no tiene un cuerpo, no tiene ni un primer ni último row.

#### Tipos de Operadores
* **Operadores unarios** Requiere una relación o tabla para funcionar.
- **Proyección** (pi): Equivale al comando Select. Saca un número de columnas o atributos sin necesidad de hacer una unión con una segunda tabla. (pi) <nombre, Apellido, Email> (Tabla_Alumno)
* **Selección** Equivale al comando Where.
* **Operadores binarios** Requiere más de una tabla para operar
- **Producto cartesiano (x)** : Yoma todos los elementos de una tabla y los combina con los elementos de una tabla y los combina con los elementos de la segunda tabla.
- **Unión** Obtiene los elementos  que existen en una de las tablas o en otra de las tablas
- **Diferencia** Obtiene los elementos que existe en una de las tablas pero que no corresponde a la otra tabla.

### Instalación de la BD de ejemplo
* https://www.postgresql.org/
* Downloads
* Windows
* Download the installer
* penultima versión: 13.6
* Windows 64x

#### Instalación
* PostgreSQL Server
* pgAdmin 4
* Command Line Tools

En la consola SQL shell (psql), por defecto se puede enter en contraseña ingresar la que se coloco en la configuración.

In [3]:
'''
CREATE DATABASE transporte_publico;
'''

'\nCREATE DATABASE transporte_publico;\n'

Para saltar a la base de datos recien creada ejecutamos el comando

In [4]:
'''
\c transporte_publico
'''

'\n\\c transporte_publico\n'

Debe salir el siguiente mensaje:

Ahora está conectado a la base de datos «transporte_publico» con el usuario «postgres».

Desde PgAdmin ejecute el iocno se abrirá el navegador ingrese su contraseña de configuración y elimine la base de datos que creamos transporte_publico -> Delete/Drop

### Qué es una proyección (SELECT)
Es aquel que permite mostrar la tabla o las columnas

In [5]:
'''
SELECT *; //Todas las columnas
SELECT fiels AS alias;
SELECT COUNT(id), SUM(quantity), AVG(age);
SELECT MIN(date), MAX(quantity);
'''

'\nSELECT *; //Todas las columnas\nSELECT fiels AS alias;\nSELECT COUNT(id), SUM(quantity), AVG(age);\nSELECT MIN(date), MAX(quantity);\n'

In [6]:
'''
SELECT IF(500<100, "YES","NO");

SELECT OrderID, Quantity,
CASE
    WHEN Quantity > 30 THEN "Over 30"
    WHEN Quantity = 30 THEN "EQUAL 30"
    ELSE "Under 30"
END AS QuantiityText
'''

'\nSELECT IF(500<100, "YES","NO");\n\nSELECT OrderID, Quantity,\nCASE\n    WHEN Quantity > 30 THEN "Over 30"\n    WHEN Quantity = 30 THEN "EQUAL 30"\n    ELSE "Under 30"\nEND AS QuantiityText\n'

### Origen From
Indica de donde se va optener la información que se va proyectar

In [7]:
'''
SELECT *
FROM tabla_diaria AS td
    JOIN tabla_mensual AS tm
    ON td.pk = tm.fk;
'''

'\nSELECT *\nFROM tabla_diaria AS td\n    JOIN tabla_mensual AS tm\n    ON td.pk = tm.fk;\n'

In [8]:
'''
SELECT *
FROM dblink('
    dbname=somedb
    port=5432 host=someserver
    user=someuser
    password=somepwd',
    'SELECT gid, area, perimeter,
            state, country,
            tract, blockgroup,
            block, the_geom
    FROM massgis.cens200blocks')
    AS blockgroups
'''

"\nSELECT *\nFROM dblink('\n    dbname=somedb\n    port=5432 host=someserver\n    user=someuser\n    password=somepwd',\n    'SELECT gid, area, perimeter,\n            state, country,\n            tract, blockgroup,\n            block, the_geom\n    FROM massgis.cens200blocks')\n    AS blockgroups\n"

### Productos cartesianos join
* Left join Elementos que pertenecen a la tabla de la izquierda
* Right join Elementos que pertenecen a la tabla de la derecha
* Exclusive Left join pertenecen solo a la tabla de la izquierda y no comparte ningun elemento con el de la derecha
* Exclusive Right Join pertenecen a la tabla de la derecha pero no coinciden con los de la izquierda
* Full Outer Join trae todos los elementos de la tabla de la derecha y de la izquierda
* Exclusive Full Outer Join todos los elementos de las tablas excepto los que comparten
* Inner join solamente los elementos que tienen común las dos tablas

### Selección where

In [9]:
'''
SELECT *
FROM tabla_diaria
WHERE id=1;
'''

'\nSELECT *\nFROM tabla_diaria\nWHERE id=1;\n'

In [10]:
'''
SELECT *
FORM tabla_diaria
WHERE cantidad > 10;
'''

'\nSELECT *\nFORM tabla_diaria\nWHERE cantidad > 10;\n'

In [11]:
'''
SELECT *
FROM tabla_diaria
WHERE cantidad < 100;
'''

'\nSELECT *\nFROM tabla_diaria\nWHERE cantidad < 100;\n'

In [12]:
'''
SELECT *
FROM tabla_diaria
WHERE cantidad > 10
    AND cantidad <100;
'''

'\nSELECT *\nFROM tabla_diaria\nWHERE cantidad > 10\n    AND cantidad <100;\n'

In [13]:
'''
SELECT *
FORM tabla_diaria
WHERE cantidad BETWEEN 10
    AND 100;
'''

'\nSELECT *\nFORM tabla_diaria\nWHERE cantidad BETWEEN 10\n    AND 100;\n'

In [14]:
'''
SELECT *
FROM users
WHERE name = "Israel"
AND(
    lastname = "Vázquez"
    OR
    lastname = "López"
);
'''

'\nSELECT *\nFROM users\nWHERE name = "Israel"\nAND(\n    lastname = "Vázquez"\n    OR\n    lastname = "López"\n);\n'

In [15]:
'''
SELECT *
FROM users
WHERE name = "Israel"
    AND lastname = "Vázquez"
    OR lastaname = "López";
'''

'\nSELECT *\nFROM users\nWHERE name = "Israel"\n    AND lastname = "Vázquez"\n    OR lastaname = "López";\n'

In [16]:
'''
SELECT *
FROM usera
WHERE name LIKE "Is%";//empiece Is
'''

'\nSELECT *\nFROM usera\nWHERE name LIKE "Is%";\n'

In [17]:
'''
SELECT *
FROM users
WHERE name LIKE "Is_ael";//israel o ismael
'''

'\nSELECT *\nFROM users\nWHERE name LIKE "Is_ael";\n'

In [18]:
'''
SELECT *
FROM users
WHERE name NOT LIKE "Is_ael";//que no se parezca a israel o ismael
'''

'\nSELECT *\nFROM users\nWHERE name NOT LIKE "Is_ael";\n'

In [19]:
'''
SELECT *
FROM users
WHERE name IS NULL;
'''

'\nSELECT *\nFROM users\nWHERE name IS NULL;\n'

In [20]:
'''
SELECT *
FROM users
WHERE name IS NOT NULL;
'''

'\nSELECT *\nFROM users\nWHERE name IS NOT NULL;\n'

In [21]:
'''
SELECT *
FROM users
WHERE name IN ('Israel', 'Laura','Luis');
'''

"\nSELECT *\nFROM users\nWHERE name IN ('Israel', 'Laura','Luis');\n"

### Ordenamiento Order By

**Índices** Excelentes para búsqueds y ordenamientos. Cuidar para alta transaccionalidad.

In [22]:
'''
SELECT *
FROM tabla_diaria
ORDER BY fecha;
'''

'\nSELECT *\nFROM tabla_diaria\nORDER BY fecha;\n'

In [23]:
'''
SELECT *
FROM tabla_diaria
ORDER BY fecha ASC;
'''

'\nSELECT *\nFROM tabla_diaria\nORDER BY fecha ASC;\n'

In [24]:
'''
SELECT *
FROM tabla_diaria
ORDER BY fecha DESC;
'''

'\nSELECT *\nFROM tabla_diaria\nORDER BY fecha DESC;\n'

### Agregación y Limitantes (GROUP BY y LIMIT)

In [25]:
'''
SELECT *
FROM tabla_diaria
GROUP BY marca;
'''

'\nSELECT *\nFROM tabla_diaria\nGROUP BY marca;\n'

In [26]:
'''
SELECT *
FROM tabla_diaria
GROUP BY marca, modelo;
'''

'\nSELECT *\nFROM tabla_diaria\nGROUP BY marca, modelo;\n'

In [27]:
'''
SELECT *
FROM tabla_diaria
LIMIT 1500;
'''

'\nSELECT *\nFROM tabla_diaria\nLIMIT 1500;\n'

In [28]:
'''
SELECT *
FROM tabla_diaria
OFFSET 1500//DESPUES DE 1500
LIMIT 1500;
'''

'\nSELECT *\nFROM tabla_diaria\nOFFSET 1500\nLIMIT 1500;\n'